* {
  font-family: "Avenir";
  height: 100%;
  color: #DADAD6;
}
body {
  height: 600px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #EEEEEE;
}

header {
  background-color: #9B9B8C;
  height: 44px;
  width: 100%;
  border-bottom: 1px solid black;
}
main {
  width: 100%;
  overflow: auto;
  height: 100%;
}
footer {
  clear: both;
  background-color: #686859;
  width: 100%;
  position: relative;
  height: 40px;
  padding-bottom: 2%;
}
footer p {
  padding-left: 3%;
  padding-top: 1%;
  margin: 0px;
}
.rightContent {
  background-image: url(resources/track.jpg);
  background-size: cover;
  width: 50%;
  float: right;
  opacity: .19;
  position: relative;
  /*left: 20px;*/
  /*padding: 0px;*/
  height: 100%;
}
.leftContent {
  width: 50%;
  float: left;
  clear: both;
  overflow: hidden;
}
.bin {
  font-size: 34px;
  color: #490063;
  margin: 0px auto;
  text-align: center;
  letter-spacing: .15em;
  font-weight: 400;
}
button {
  background-color: #353526;
  border-radius: 5px;
  height: 35px;
  width: 170px;
  border: 0;
  position: relative;
  bottom: 550px;
  left: 230px;
  margin: 0px auto;
  float: left;
}
